<div class="musicbrainz-search">
	<input id="releaseMbid" />
	<button id="releaseButton">view</button>
	<br />
	<release>
		<img id="release-art" height="250" width="250" />
		<h3 id="release-title"></h3>
		<h4 id="release-artist"></h4>
		<p id="release-tracklist"></p>
	</release>
</div>

<script>
	import { MusicBrainz } from "../utils/MusicBrainz";

	const mb = new MusicBrainz("https://musicbrainz.org/ws/2/");
	export const viewRelease = async (mbid) => {
		console.info(`viewRelease: ${mbid}`);

		let release = await mb.ReleaseInfo(mbid);
		console.info(`viewRelease: release info: ${JSON.stringify(release)}`);

		// Set title
		document.getElementById("release-title").innerText = release.title;

		// Set artist text
		let artistHtml = "";
		for (let artist in release["artists"]) {
			artistHtml += `<a href="javascript:;" onclick="document.getElementById('artistMbid').value = '${release.artists[artist].mbid}';document.getElementById('artistButton').click()" >${release.artists[artist].name}</a>, `;
		}
		artistHtml = artistHtml.slice(0, -2); // trailing comma
		document.getElementById("release-artist").innerHTML = artistHtml;

		// Set track list text
		let trackListHtml = "";
		for (let track in release.trackList) {
			// TODO: make these buttons
			trackListHtml += `${parseInt(track) + 1}: <b>${release.trackList[track].title}</b><br />`;
		}
		trackListHtml = trackListHtml.slice(0, -2); // trailing comma
		// Oooops, this isn't sanitized
		document.getElementById("release-tracklist").innerHTML = trackListHtml;

		// Has cover art?
		if (release.coverArt) {
			document
				.getElementById("release-art")
				.setAttribute("src", await mb.HdCoverArtUrl(mbid));
		} else {
			document
				.getElementById("release-art")
				.setAttribute(
					"src",
					"https://media.newyorker.com/photos/5f47e693c8ef58a2cabfbe10/master/w_2560%2Cc_limit/Borowitz-Biden01.jpg"
				);
		}
	};

	document.getElementById("releaseButton").addEventListener("click", () => {
		viewRelease(
			(document.getElementById("releaseMbid") as HTMLInputElement).value
		);
	});
</script>
